@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Jost&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  /* color: var(--tertiaryColour); */
}

/* font-family: 'Aladin', cursive;
font-family: 'Jost', sans-serif; */

:root {
  --primaryColour: #f1dabf;
  --secondaryColour: #362417;
  --tertiaryColour: #2c3333;
  --bgColour: #fffbff;
  --boxShadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
  --headingFontSize: 40px;
  --headingLetterSpacing: 2px;
  --test-border: 2px solid red;
}

body {
  background-color: var(--bgColour);
  /* overflow-x: hidden; */
  /* padding: 0px 150px; */
}

/* Navbar */
.logo {
  font-family: "Aladin", cursive;
  letter-spacing: 2px;
  font-size: 20px;
}

nav {
  color: var(--secondaryColour);
  background-color: var(--primaryColour);
  padding: 15px 25px;
  display: flex;
  /* margin: 10px;   */
}

.hamburger {
  color: var(--secondaryColour);
  position: absolute;
  right: 25px;
  width: 23px;
}

.link {
  display: flex;
  flex-direction: column;
  /* border: var(--test-border); */
  background-color: var(--secondaryColour);
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  top: 45px;
  right: 25px;
}

.links {
  /* display: none; */
  color: var(--primaryColour);
  text-decoration: none;
  margin: 5px;
  border-bottom: 2px solid var(--primaryColour);
  transition: border-bottom, 0.25s;
  font-weight: 600;
}

.hidden {
  display: none;
}

.content {
  padding: 25px;
  color: var(--tertiaryColour);
  /* margin: 100px 0px; */
}

.content h1 {
  font-size: var(--headingFontSize);
  letter-spacing: var(--headingLetterSpacing);
  font-family: "Aladin", cursive;
}

.content div {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.content div p {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 500px; */
  /* padding: 50px; */
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 33px;
}


.content div img{
    width: 100%;
  }
  

/* Footer */

footer {
  /* position: absolute;
    bottom: 0; */
  color: var(--primaryColour);
  background-color: var(--secondaryColour);
  padding: 25px;
  /* display: flex; */
}

footer div h2 {
  font-size: var(--headingFontSize);
  font-family: "Aladin", cursive;
  letter-spacing: var(--headingLetterSpacing);
}

#address {
  display: flex;
}

#address span {
  margin: 0px 7px;
  width: 310px;
}

#timings {
  display: flex;
  /* margin: 0px 2px; */
  /* flex-direction: row; */
}

#timings span {
  margin: 0px 7px;
}
