@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Jost&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif; 
    font-size: 18px;
    /* color: var(--tertiaryColour); */
}

/* font-family: 'Aladin', cursive;
font-family: 'Jost', sans-serif; */

:root{
    --primaryColour:#F1DABF;
    --secondaryColour:#362417;
    --tertiaryColour:#2C3333;
    --bgColour:#FFFBFF;
    --boxShadow:0px 7px 29px rgba(100,100,111,0.2);
    --minPadding:0px 150px;
    --headingFontSize:60px;
    --headingLetterSpacing:3px;
}

body{
    background-color: var(--bgColour);
    /* padding: 0px 150px; */
}

/* navbar */
.logo{
    font-family: 'Aladin', cursive;
    letter-spacing: 2px;
    font-size: 20px;
}

nav{
    color: var(--primaryColour);
    background-color: var(--secondaryColour);
    padding: 15px 150px;
    display: flex;  
    /* margin: 10px;   */
}

.link{
    position: absolute;
    top: 15px;
    right: 150px;
}

.links{
    color: var(--primaryColour);
    text-decoration: none;
    margin: 0px 15px;
    border-bottom: 2px solid var(--secondaryColour);
    transition: border-bottom 0.25s;
}

.links:hover{
    border-bottom: 2px solid var(--primaryColour);
}

/* Section */
/* section{
    height: 400px;
} */

.content{
    padding: var(--minPadding);
    color: var(--tertiaryColour);
    margin: 100px 0px;
}

.content h1{
    font-size: var(--headingFontSize);
    letter-spacing: var(--headingLetterSpacing);
    font-family: 'Aladin', cursive;
}

.content div{
    display: flex;
    margin: 20px 0px;
}

.content div p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
    padding: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 33px;
}

/* Footer */

footer{
    color: var(--primaryColour);
    background-color: var(--secondaryColour);
    padding: 25px 150px;
    display: flex;
}

footer>div{
    width:384px ;
    padding: 10px 15px ;
}

footer div h2{
    font-size: var(--headingFontSize);
    font-family: 'Aladin', cursive;
    letter-spacing: var(--headingLetterSpacing);
}

#address{
    display: flex;
}

#address span{
    margin: 0px 7px;
    width: 310px;
}

#timings {
    display: flex;
    /* margin: 0px 2px; */
    /* flex-direction: row; */
}

#timings span{
    margin: 0px 7px;
}

