@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Jost&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif; 
    font-size: 18px;
    /* color: var(--tertiaryColour); */
}

/* font-family: 'Aladin', cursive;
font-family: 'Jost', sans-serif; */

:root{
    --primaryColour:#F1DABF;
    --secondaryColour:#362417;
    --tertiaryColour:#2C3333;
    --bgColour:#FFFBFF;
    --boxShadow:0px 7px 29px rgba(100,100,111,0.2);
    --headingFontSize:40px;
    --headingLetterSpacing:2px;
    --test-border:2px solid red;
}

body{
    background-color: var(--bgColour);
    /* overflow-x: hidden; */
    /* padding: 0px 150px; */
}





/* Navbar */
.logo{
    font-family: 'Aladin', cursive;
    letter-spacing: 2px;
    font-size: 20px;
}

nav{
    color: var(--secondaryColour);
    background-color: var(--primaryColour);
    padding: 15px 25px;
    display: flex;  
    /* margin: 10px;   */
}

.hamburger{
    color: var(--secondaryColour);
    position: absolute;
    right: 25px;
    width: 23px;
}

/* Need to change */

.link{
    display: flex;
    flex-direction: column;
    /* border: var(--test-border); */
    background-color: var(--secondaryColour);
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    top: 45px;
    right: 25px;
}

.links{
    /* display: none; */
    color: var(--primaryColour);
    text-decoration: none;
    margin: 5px;
    border-bottom: 2px solid var(--primaryColour);
    transition: border-bottom, 0.25s;
    font-weight: 600;
}

.hidden{
    display: none;
}


/* Hero */
#heroBox{
    background-color: var(--primaryColour);
    /* border: var(--test-border); */
    height: 90vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding: var(--minPadding); */
}



#tagline{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* border: var(--test-border); */
    padding: 25px;

}

#tagline h1{
    font-family: 'Aladin', cursive;
    font-size: 60px;
    line-height: 60px;
    color: var(--secondaryColour);
    letter-spacing: 2px;

}

#tagline span{
    font-family: 'Aladin', cursive;
    font-size: 60px;
    line-height: 60px;
    color: #36241776;

}

#foodImage img{
    width: 0vw;
}

.foodLinks{
    margin: 45px 0px ;
    /* border: var(--test-border); */
}

.foodLink{
    margin: 0px 5px;
    text-decoration: none;
    color: var(--secondaryColour);
    padding: 0px 8px ;
    border-radius: 4px;
    border: 3px solid var(--secondaryColour);
    transition: background-color, 0.3s;
}

.foodLink:hover{
    background-color: var(--secondaryColour);
    color: var(--primaryColour);
}

/* Menu Section */
#menu{
    color: var(--tertiaryColour);
    padding: 25px;
    /* border: 5px solid red; */
    height: 90%;
}

#menu h1{
    font-size: var(--headingFontSize);
    letter-spacing: var(--headingLetterSpacing);
    font-family: 'Aladin', cursive;
}

.menuList{
    display: flex;

}

.menuList p{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.slider{
    position: relative;
    /* height: 600%; */
    /* border: 1px solid red; */
    height: 280vh;
    width: 100%;
    /* padding: 15px; */
    overflow-x: hidden;
    overflow-y: visible;
}

.slide{
    /* border: var(--test-border); */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-gap: 1rem;
    position: absolute;
    top:0;
    /* left: 10%; */
    transition: transform 1s;
    /* margin: 0px 0px; */
    padding: 0px 20px 0px 0px;
    /* margin:  0px 20px; */
}

.slide_btn{
    box-shadow: var(--boxShadow);
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    border-radius: 100px;
    z-index: 10;
    position: absolute;
    top: 13rem;
}
.slider_btn--left{
    left: 2%;
}
.slider_btn--right{
    right: 2%;
    /* top: 308px; */
}

.slide_btn img{
    width: 30px;
    z-index: 5;
}

.food_slide{
    /* border: 1px solid black; */
    box-shadow: var(--boxShadow);
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 8px;
    z-index: -1;
    /* justify-content: center; */
    /* margin: 15px; */
}

.food_slide img{
    border-radius: 8px 8px 0px 0px;
    z-index: -1;
    width: 100%;
}

.food_slide h3{
    font-size: 20px;
    margin: 20px;
    text-align: center;
    /* padding: 35px 0px 0px 0px; */
    /* border: 1px solid black; */
}

/* Footer */

footer{
    /* position: absolute;
    bottom: 0; */
    color: var(--primaryColour);
    background-color: var(--secondaryColour);
    padding: 25px;
    /* display: flex; */
}



footer div h2{
    font-size: var(--headingFontSize);
    font-family: 'Aladin', cursive;
    letter-spacing: var(--headingLetterSpacing);
}

#address{
    display: flex;
}

#address span{
    margin: 0px 7px;
    width: 310px;
}

#timings {
    display: flex;
    /* margin: 0px 2px; */
    /* flex-direction: row; */
}

#timings span{
    margin: 0px 7px;
}